---
import Header from "../components/Header.astro";
import "../styles/global.css";
import profile from "../assets/Nico.jpeg";
import '@fontsource-variable/onest/wght.css';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>Nicolás Figueroa - Portfolio</title>
	</head>
	<body>
		<div class="fixed inset-0 -z-10 w-full h-screen [background:radial-gradient(125%_125%_at_50%_10%,#000_40%,#63e_100%)]"></div>
		<Header />
		<slot />
		
	</body>
</html>

<style is:global>

	:root {
		color-scheme: light dark;
	}
	html {
		font-family: 'Onest variable',system-ui, sans-serif;
	}
	
	body {
		background-color: #0b0b0b;
		display: flex;
		flex-direction: column;
		min-height: 100vh;
	}
</style>
